nav .nav-items a:not(.activeLink) {
  color: rgba(255, 255, 255, 1.0);

  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}

nav .nav-items a:not(.activeLink):hover {
  color: rgba(255, 255, 255, 0.65);

  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
