.product-cell {
  margin-top: 24px;
  margin-bottom: 24px;
}

.product-cell > a {
  margin-bottom: 16px !important;
}

.solid-black-divider {
  margin-top: 24px;
  border-top: 1px solid;
  border-top-color: rgba(0,0,0,1.0);
}
